

<div> 

    <div class="row">
        <div class="col-6">
        
        </div>
        
        <div class="col"> <h5  class="text-center">Quantité</h5></div>
        <div class="col"><h5  class="text-center">Prix Unitaire</h5></div>
        <div class="col"> <h5  class="text-center">Sous-total</h5></div>

    </div>
    
    

    <app-details-facture [dfac]="d" *ngFor="let d of listDetailsFactures" (deletedfEvent)="deleteDetailsFacture($event)" (decrementQuantityEvent)="decrementQuantity($event)" (incrementQuantityEvent)="IncrementQuantity($event)">

    </app-details-facture>


    <div class="card text-dark bg-light mb-3 mx-3" >
        <div class="card-header">Etes-vous prets pour passer la commande?</div>
        <p class="card-text"><button class="btn btn-primary ">Passer la commande</button></p>
        &nbsp;

      </div>


</div>

